<section
  class="relative rounded-lg shadow-xl overflow-hidden lg:flex lg:overflow-visible"
>
  <img
    class="w-full lg:w-[320px] lg:bg-left lg:rounded-l-lg"
    [src]="article.image"
    alt="Drawer"
  />

  <div class="p-8 bg-white lg:pl-10 lg:pr-16 lg:rounded-r-lg">
    <h3 class="text-xl">
      {{ article.title }}
    </h3>

    <p class="text-sm mt-4 text-fill-800">
      {{ article.content }}
    </p>

    <div class="mt-8 flex justify-between items-center">
      <lbk-author [author]="article.author"></lbk-author>

      <!-- share button desktop -->
      <lbk-dropdown
        (expandedChange)="expandedChange($event)"
        class="hidden lg:block"
      >
        <lbk-share-button
          [white]="openShareDesktop"
          dropDownToggle
        ></lbk-share-button>

        <ng-template dropDownContent>
          <lbk-share-dropdown
            class="-translate-x-[calc(50%-18px)]"
          ></lbk-share-dropdown>
        </ng-template>
      </lbk-dropdown>
      <!-- end share button desktop -->

      <lbk-share-button
        class="lg:hidden"
        (mouseover)="openShareMobile = true"
      ></lbk-share-button>
    </div>

    <lbk-share-panel
      *ngIf="openShareMobile"
      (mouseleave)="closeShareMobile()"
      (closed)="closeShareMobile()"
      @fadeInUpOnEnter
      @fadeOutDownOnLeave
      class="absolute bottom-0 left-0 w-full lg:hidden"
    ></lbk-share-panel>
  </div>
</section>
